import { Req, Res } from './types';

async function hello(req: Req): Res {
  return {
    status: 200,
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(req),
  }
}

export { hello };
